# Exploratory Data Analysis for NBA Dataset
## Chase, Jack, Timothy, Adam, Neel, Eddie, and Harrison