In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("DATA/player_stats.csv")
df.head()

,PLAYER_ID,PLAYER_NAME,NICKNAME_base,TEAM_ID_base,TEAM_ABBREVIATION_base,AGE_base,GP_base,W_base,L_base,W_PCT_base,...,E_PACE_RANK,PACE_RANK,sp_work_PACE_RANK,PIE_RANK,FGM_RANK_adv,FGA_RANK_adv,FGM_PG_RANK,FGA_PG_RANK,FG_PCT_RANK_adv,TEAM_COUNT_adv
0,1630639,A.J. Lawson,A.J.,1610612761,TOR,24.0,26,14,12,0.538,...,119,122,122,329,352,340,248,228,388,1
1,1631260,AJ Green,AJ,1610612749,MIL,25.0,73,44,29,0.603,...,280,312,312,484,231,220,310,298,353,1
2,1642358,AJ Johnson,AJ,1610612764,WAS,20.0,29,8,21,0.276,...,271,313,313,503,348,325,275,227,472,2
3,203932,Aaron Gordon,Aaron,1610612743,DEN,29.0,51,33,18,0.647,...,206,240,240,176,150,182,113,139,79,1
4,1628988,Aaron Holiday,Aaron,1610612745,HOU,28.0,62,39,23,0.629,...,163,146,146,333,304,297,381,374,325,1